* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #fff; 
  text-decoration: none;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.header {
  min-height: 75vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7))
  ,url(images/ffff_orig.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 65px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff; 
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #DDFF33;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 30px;
  margin-bottom: 50px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: #DDFF33;
  color: green;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-items: center;
  font-size: 20px;
}

.hero-btn .fa{
  color: green;
  font-size: 30px;
  margin-left: 10px;
}

.hero-btnn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 50px;
  font-size: 13px;
  background: #5833FF;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  transition: 0.5s;
  color: #5833FF;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .header {
    min-height: 100vh;
  }
  .text-box h1 {
    font-size: 17px;
    text-align: center;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #5833FF;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/* Serviços */

.servicos {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.swiper-container {
  transition: .3s ease all;
}

.swiper-slide {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transform: scale(1.1);
}

.servicos-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.servicos-subtitle-second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.swiper-slide-selo {
  width: 160px;
}

img {
  width: 300px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  
}

.servicos-col {
  flex-basis: 31%;
  background: #F8F9F9;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.servicos h1 {
  margin-bottom: 50px;

}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px;
  padding-bottom: 10px;
}

 h1 {
  font-size: 35px;
  font-weight: 600;
}

.title__colchoes {
  margin-top: 25px;
}

.img-servicos img {
  margin-bottom: 25px;
  width: 500px;
  height: 350px;
}

.row img {
  width: 350px;
}

.servicos-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.beneficios {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  max-width: 1140px;
}

.row {
  display: flex;
  justify-content: center;
}

.beneficios .row .img--sofa {
  width: 135px;
}

.beneficios .row .img--mediation {
  width: 161px;
}


.beneficios .row img {
  width: 155px;
}

.sociais {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.developer p {
  color: #CCC;
}

.developer  a{
  width: 100%;
  margin-top: 15px;
  color: #CCC;
}

.contact h5 {
  font-size: 5px;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .row img {
    width: 250px;
  }
}

.img-servicos img {
  width: 300px;
  height: 250px;
}



.beneficios h1 {
  margin-bottom: 30px;
}

.contact {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.contact-col {
  flex-basis: 48%;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #5833FF;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
  
}

.contact-col input, .contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header {
    height: 100vh;
  }

  .servicos h1 {
    font-size: 35px;
  }

  .row {
    flex-direction: column;
  }

  .row h3 {
    font-size: 25px;
  }

  .beneficios h1 {
    font-size: 35px;
  }

  .beneficios-col p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
  }

  .servicos-subtitle-second > h1 {
    font-size: 34px;
  }
}